// Fuentes 

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter/Inter.ttf');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

// --------- VARIABLES SCSS --------//

// Background colors 

$body-color: #1A1A1A;
$second-color-bg: #161616;
$contact-info-background: #3a3a3a;
$bg-black: #101010;
$button-background: #FFFFFF;
$shop-background: #01010142;
$product-background: #2a2a2a3f;
$second-button-background: #2A2A2A;

// Border colors

$border-shadow: 5px solid rgba(16, 16, 16, 0.5);

//text color

$main-text-color: #F1F1F1;
$second-text-color: #F0F0F0;
$main-color: #BE60F4;
$copy-color: #A0A0A0;

// form colors

$form-background: #0A0A0A;
$form-input-background: #1A1A1A;
$form-input-border: #2A2A2A;
$form-label: #FAFAFA;
$form-input: #FAFAFA;
$form-placeholder: #828282;

//scroll bar colors 

$scroll-bar-color: hsl(243, 12%, 38%);
$scroll-thumb-color: hsl(244, 12%, 26%);
$scroll-thumb-color-hover: hsl(245, 13%, 18%);

// font size

$big-font: 3.5rem;
$h1: 2.9rem;
$h2: 2.55rem;
$h3: 1.8rem;
$h4: 1.4rem;
$h5: 1.2rem;
$p: 0.976rem; 
$copy-text: 0.75rem;

// font weight 

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

// height nav

$header: 70px;
