/*=============== Loading style ===============*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  z-index: 999;
  transform-origin: bottom;
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  transition-delay: 0.5s;

  &.loaded {
    transform: scaleY(0);
    pointer-events: none;
  }

  &.loaded > * {
    opacity: 0;
  }

  &> img {
    width: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
  }
}

/*=============== buttons styles ===============*/

.info__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: $main-color;
  font-size: 1rem;
}

.contact__button {
  width: 200px;
  height: 48px;
  margin-top: 20px;
  border-radius: 6px;
  color: $main-text-color;
  background-color: $form-input-border;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn {
  width: 80%;
  height: 42px;
  border: solid 1px #0A0A0A;
  border-radius: 8px;
  color: #0A0A0A;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Social links hover */

.social__icons:hover,
.social__home__links i:hover,
.link__footer:hover {
  color:$main-color;
}

/*=============== SWIPPER =================*/

.other-products{
  padding: 80px 0;

  .subtitle__h2{
    text-align: center;
    margin: 20px;
  }

  .other__container {
  padding-top: 2rem;

    .other__article {
      width: 220px;
      display: grid;
      justify-items: center;
      filter: blur(8px);
      scale: 0.8;
      transition: filter 0.3s, scale 0.3s;

      &.swiper-slide-active,
      &.swiper-slide-duplicate-active {
        filter: blur(0);
        scale: 1;
      }

      .other__img {
        width: 220px;
        margin-bottom: 1.5rem;
      }

      .other__model {
        cursor: pointer;
        border: solid 1px #0A0A0A;
        border-radius: 4rem;
        font-size: 1.2rem;
        font-weight: $fw-500;
        color: #0A0A0A;
        background-color: #FFFFFF;
        padding: 0.5rem 1.5rem;
        transition: 0.2s;

        &:hover {
          background-color: #0A0A0A;
          color: $main-color;
        }
      }
    }
  }
}

/* Swiper class */



/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: $form-background;
  display: inline;
  padding: 6px 13px;
  font-size: 1.25rem;
  color: var(--main-text-color);
  z-index: 50;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;

  i{
    animation: scroll-up 3s infinite;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}

.show-scroll {
  bottom: 3rem;
}